# Introduction to Pandas dataframe

Data frame is a main object in pandas. It is used to represent data with rows and columns

Data frame is a datastructure represent the data in tabular or excel spread sheet like data)

**creating dataframe:**

In [2]:
import pandas as pd
#read weather_data.csv data
weather_data= pd.read_csv('weather_data.csv')
print(weather_data)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [2]:
#list of tuples

weather_data = [('1/1/2017', 32, 6, 'Rain'),
                ('1/2/2017', 35, 7, 'Sunny'),
                ('1/3/2017', 28, 2, 'Snow'),
                ('1/4/2017', 24, 7, 'Snow'),
                ('1/5/2017', 32, 4, 'Rain'),
                ('1/6/2017', 31, 2, 'Sunny')
               ]
df = pd.DataFrame(weather_data, columns=['day', 'temperature', 'windspeed', 'event'])
df

NameError: name 'pd' is not defined

In [9]:
#get dimentions of the table
weather_data.shape
#total number of rows and columns

(6, 4)

In [10]:
weather_data.shape

(6, 4)

In [13]:
#if you want to see initial some rows then use head command (default 5 rows)
weather_data.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [14]:
#if you want to see last few rows then use tail command (default last 5 rows will print)
weather_data.tail(3)

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [16]:
#slicing
weather_data[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [17]:
  #print columns in a table
weather_data.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [18]:
   #print particular column data
weather_data.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [19]:
#another way of accessing column
            #df.day (both are same)
weather_data['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [22]:
#get 2 or more columns
weather_data[['temperature','windspeed']]

   temperature  windspeed
0           32          6
1           35          7
2           28          2
3           24          7
4           32          4
5           31          2

In [24]:
weather_data.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [23]:
weather_data[['temperature','windspeed','event']]

   temperature  windspeed  event
0           32          6   Rain
1           35          7  Sunny
2           28          2   Snow
3           24          7   Snow
4           32          4   Rain
5           31          2  Sunny

In [11]:
#get all temperatures

In [29]:
#print max temperature
weather_data['temperature'].max()

35

In [32]:
#print max temperature
print(weather_data['temperature'].min())
#sum up temperature
print(weather_data['temperature'].sum())

24
182

In [33]:
#print records that have temperature>30
weather_data[weather_data['temperature']>30]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [36]:
# select record which has maximum temperature
weather_data[weather_data['temperature']==weather_data['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [37]:
#select only day column which has maximum temperature
weather_data.day[weather_data['temperature']==weather_data['temperature'].max()]

1    1/2/2017
Name: day, dtype: object