# Python Basics and Data Types

# Python Keywords

Keywords are the reserved words in python

We can't use a keyword as variable name, function name or any other identifier

Keywords are case sentive

In [3]:
#Get all keywords in python 3.6
import keyword
print(keyword.kwlist)
print("Number of keywords in Python are", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Number of keywords in Python are 35

========================================================================================================================

# Identifiers

Identifier is the name given to entities like class, functions, variables etc. in Python. It helps differentiating one entity from another.

Rules for Writing Identifiers:

1. Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).

2. An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.

3. Keywords cannot be used as identifiers.

4. We cannot use special symbols like !, @, #, $, % etc. in our identifier.

In [5]:
price_2023=1000
print(price_2023)

1000

In [7]:
price_2023=1000

SyntaxError: can't assign to operator (<ipython-input-7-f7ebabf18b4a>, line 1)

In [8]:
assert="Python Class"

SyntaxError: invalid syntax (<ipython-input-8-85536d141990>, line 1)

========================================================================================================================

# Python Comments


Comments are lines that exist in computer programs that are ignored by compilers and interpreters.

Including comments in programs makes code more readable for humans as it provides some information or explanation about what each part of a program is doing.

In general, it is a good idea to write comments while you are writing or updating a program as it is easy to forget your thought process later on, and comments written later may be less useful in the long term.

In Python, we use the hash (#) symbol to start writing a comment.

In [10]:
# This code is used for data pre - processing
num=10
print(num)

10

# Multi Line Comments

In [ ]:
If we have comments that extend multiple lines, one way of doing it is to use hash (#) in the beginning of each line.

In [11]:
# this is code for
# data pre-processing
# data is coming from various

In [ ]:
Another way of doing this is to use triple quotes, either ''' or """.

In [22]:
''' this is comment
for multi line'''
print(100)

100

========================================================================================================================

# Python Statement

Instructions that a Python interpreter can execute are called statements.

In [ ]:
Examples:

In [23]:
#single statement
session2="This is basics of Python"
print(session2)

This is basics of Python

# Multi-Line Statement

In Python, end of a statement is marked by a newline character. But we can make a statement extend over multiple lines with the line continuation character (\).

In [ ]:
#using \

In [25]:
calculation= 1+2+3+6+\
            8+9
print(calculation)

29

In [26]:
#another way is to put entire in brackets ()

calculation= (1+2+3+6+
            8+9)
print(calculation)

29

In [3]:
#put multiple statements in a single line using ;

In [27]:
num1=10 ; num2=20 ;num3=30
print(num1,num2,num3)

10 20 30

========================================================================================================================

# Variables

A variable is a location in memory used to store some data (value).

They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

# Variable Assignments

In [28]:
#We use the assignment operator (=) to assign values to a variable

num1=100
print(num1)

100

# Multiple Assignments

In [29]:
#Multiple assignments in single line
num1,num2,num3=10,20,30
print(num1,num2,num3)

10 20 30

In [30]:
#assign the same value to multiple variables at once
num1=num2=num3=100
print(num1,num2,num3)

100 100 100

# Storage Locations

In [35]:
num1=100

print(id(num1))
print(id(num2))
print(id(num3))


 #print address of variable x

140723119828464
140723119831664
140723119828464

In [37]:
num2=20000
print(id(num2))
#print address of variable y

2064876720912

Observation:

a and b points to same memory location. It means they share same memory

========================================================================================================================

# Data Types

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

# Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [1]:
a=5 #data type is implicitly set to integer
print("a is of type",type(a))

a is if type <class 'int'>

In [2]:
b=2.5 #data type is changed to float
print("b is of type",type(b))

b is of type <class 'float'>

In [3]:
c= 1 + 3j #data type is changed to complex number
print("c is of type",type(c))

c is of type <class 'complex'>

# Boolean

In [ ]:
Boolean represents the truth values False and True

In [4]:
a=True  #a is a boolean type
print("a is of type",type(a))

a is of type <class 'bool'>

# Python Strings

String is sequence of Unicode characters. 

We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters. 

Strings can be indexed - often synonymously called subscripted as well. 

Similar to C, the first character of a string has the index 0.

In [15]:
class_Python = "this is day2 of Python Programming"
print(class_Python)

this is day2 of Python Programming

In [16]:
print("class_python is of type",type(class_Python))

class_python is of type <class 'str'>

In [18]:
#extract 10 characters
print(class_Python[0:11]) # start with 0 index till 10
print(class_Python[5:22])

this is day
is day2 of Python

# PythonList

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Lists are mutable, meaning, value of elements of a list can be altered.

-> List is one of the Sequence Data structure

-> Lists are collection of items (Strings, integers or even other lists)

-> Lists are enclosed in [ ]

-> Each item in the list has an assigned index value.

-> Each item in a list is separated by a comma

-> Lists are mutable, which means they can be changed.

In [24]:
a = [10, 20.5, "Hello",1+5j]
print(a)
print("a is of type",type(a))
   
#print 1st index element

[10, 20.5, 'Hello', (1+5j)]
a is of type <class 'list'>

In [26]:
print(a[1])
print(a[3])

20.5
(1+5j)

In [23]:
a[1]=100
print(a)

[10, 100, 'Hello']

# Operations on List

# 1: List Creation

In [40]:
emptylist=[]
lst1=[1,2,3,4]
lst2=["Hello","Hi"]
lst3=[1,"Python",4.5,10,14]
print(emptylist)
print(lst1)
print(lst2)
print(lst3)

[]
[1, 2, 3, 4]
['Hello', 'Hi']
[1, 'Python', 4.5, 10, 14]

In [35]:
print(lst3[-1])
print(lst3[-2])

14
10

# 2: List Length

In [ ]:
#Use len(listname) to find length of list

In [31]:
print("length of lst3",len(lst3))

length of lst3 5

# 3: List Append

In [ ]:
#Append will add the item at the end. use listname.append('value') to append values in the list listname

In [38]:
lst2.append("Good evening")
print(lst2)

['Hello', 'Hi', 'Python', 'Good evening', 'Good evening', 'Good evening']

# 4: List Insert

In [ ]:
#Insert will add element y at location x. Use listname.insert(position,element)

In [34]:
lst2.insert(2,"Python")
print(lst2)

['Hello', 'Hi', 'Python', 'Good evening']

# 5:List Append & Extend

In [ ]:
#Append is used to add a list after last elemet in the list. Use list1.append(list2)

In [41]:
lst1=[1,4,5,8.9,"abc"]
lst2=[4,7,9]
lst1.append(lst2)
print(lst1)

[1, 4, 5, 8.9, 'abc', [4, 7, 9]]

In [ ]:
#Extend is used to combine the elements of 2 list in a single one. Use list1.extend(list2)

In [44]:
lst1=[1,4,5,8.9,"abc"]
lst2=[4,7,9]
lst1.extend(lst2)
print(lst1)

[1, 4, 5, 8.9, 'abc', 4, 7, 9]

# 6:Delete elements from a list

## By position

In [ ]:
#del and pop are used to delete elements by position. Use del listname[position] or use listname.pop(position) method

In [55]:
lst1=[1,4,5,8.9,"abc"]
print("list before",lst1) 
del lst1[2]
print("list after del",lst1)

list before [1, 4, 5, 8.9, 'abc']
list after del [1, 4, 8.9, 'abc']

In [61]:
lst2=[50,60,"Hello","Hi"]
print("before lst2",lst2)
print(id(lst2))


lst2.pop(-1)
lst2.pop(-1)
print("after pop",lst2)
print(id(lst2))

before lst2 [50, 60, 'Hello', 'Hi']
1947321706376
after pop [50, 60]
1947321706376

## By element name

In [ ]:
#remove is used to delete the element by name. Use listname.remove(element)

In [48]:
lst1=[1,4,5,8.9,"abc"]
print(lst1)
lst1.remove(5)
print(lst1)

[1, 4, 5, 8.9, 'abc']
[1, 4, 8.9, 'abc']

# 7: List realted keywords in Python

In [63]:
#keyword 'in' and 'not in' is used to test if an item is in a list
lst=[1,6,8,10,"a","b","c"]

if 9 in lst:
    print("present")
else:
    print("Absent")

Absent

# 8: List Reverse

In [64]:
#use listname.reverse()
lst=[1,5,7,3,5,10]
print(lst)
lst.reverse()
print(lst)

[1, 5, 7, 3, 5, 10]
[10, 5, 3, 7, 5, 1]

# 9: List Sorting

In [72]:
#use listname.sort() to sort the elements and store in the same list
lst=[1,5,7,3,5,10]
print(lst)
lst.sort() # ascending order
print(lst)
lst.sort(reverse=True) # descending order
print(lst)

[1, 5, 7, 3, 5, 10]
[1, 3, 5, 5, 7, 10]
[10, 7, 5, 5, 3, 1]

# 10: List Count

In [76]:
#We can count occurences of element in a list using listname.count(number).
lst=[1,5,7,3,5,10,"a","b","a","a"]
print(lst.count("a"))
lst.count(5)

3

2

# Python Tuple

-> A tuple is similar to list. It is an ordered collection of elements.

-> The diffence between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed (tuple are immutable)

In [ ]:
# Operations on Tuple

In [77]:
# 1: Tuple creation
tup=(1,4,6,"x","y")
print(tup)
print(type(tup))

(1, 4, 6, 'x', 'y')
<class 'tuple'>

In [78]:
print(tup[0])

1

In [79]:
print(tup[-1])

y

In [80]:
tup[0]=100 # trying to change the 0th element
print(tup)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 2: Accessing Elements in Tuple

In [ ]:
#Access Tuple values by position starting from 0

In [83]:
tup=(1,5,6,7)
a=(4,78,"a","g")
print(type(a))
print(a[0])

<class 'tuple'>
4

In [86]:
# 3: concatinating tuples using +
t1=(4,5,6,2)
t2=(6,8,10)
t3=t1+t2
print(t1+t2)
print(t1)
print(t2)
print(t3)

(4, 5, 6, 2, 6, 8, 10)
(4, 5, 6, 2)
(6, 8, 10)
(4, 5, 6, 2, 6, 8, 10)

In [ ]:
# 4: Tuple Deletion

In [87]:
#we cannot change the elements in a tuple. 
#That also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword(del tuple)
del t2
print(t2)

NameError: name 't2' is not defined

In [ ]:
# 5: Tuple Count

In [88]:
#get the frequency of particular element appears in a tuple. Use tuple.count(element)
new_tuple=(5,6,7,2,5,2,4,5,2)
new_tuple.count(2)

3

In [ ]:
# 6: Tuple Memebership

In [90]:
#test if an item exists in a tuple or not, using the keyword in.
t1=(6,7,3,5,6,8,10)

if 1 in t1:
    print("Present")
else:
    print("Absent")

Absent

In [92]:
# 7:Tuple Length
print(len(t1))

7

In [ ]:
# 8: Tuple Sort

In [94]:
#use sorted() to sort a tuple. Store the result in a new tuple. 
#We don't have tuple.sort() as we cannot change existing elements in tuple
t1=(4,7,3,8,19)
t2=sorted(t1)
print(t1)
print(t2)
t3=sorted(t1,reverse=True)
print(t3)

(4, 7, 3, 8, 19)
[3, 4, 7, 8, 19]
[19, 8, 7, 4, 3]

In [ ]:
# 9: Min , Max and Sum

In [95]:
#get the smallest element in a tuple by min(tuple)
t1=(4,7,3,8,19)
min(t1)

3

In [97]:
#get the largest element in a tuple by max(tuple)
max(t1)

19

In [98]:
#get the sum of elements in a tuple by sum(tuple)
sum(t1)

41

In [ ]:
# Python Set

In [ ]:
Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

> A set is an unordered collection of items. Every element is unique (no duplicates).

-> The set itself is mutable. We can add or remove items from it.

-> Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

In [1]:
# 1: Set Creation
s1={1,4,7,8,9,10}
print(s1)
print("type of s1",type(s1))

{1, 4, 7, 8, 9, 10}
type of s1 <class 'set'>

In [2]:
#set doesn't allow duplicates. They store only one instance.
s2={1,3,5,1,5,2,2}
print(s2)

{1, 2, 3, 5}

In [ ]:
# 2: Add element to a Set

In [7]:
#we can add single element using setname.add(element) method and 
#add multiple elements using setname.update(list) method
s3={1,2,4,3,5}
print(s3)
s3.add(10)
print(s3)
s3.update([22,11,12,13,14])
print(s3)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 10, 11, 12, 13, 14, 22}

In [ ]:
# 3: Remove elements from a Set

In [12]:
#A particular item can be removed from set using methods, 
#setname.discard(ele) and setname.remove(ele).
##remove() when you try to remove an element not present in a set s will give error while discard will not give error
s4={1,2,3,4}
print(s4)
s4.discard(2)
print(s4)
s4.remove(3)
print(s4)
s4.remove(10)
print(s4)

{1, 2, 3, 4}
{1, 3, 4}
{1, 4}

KeyError: 10

In [14]:
#we can remove item using pop() method. it removesany random element
s5={4,5,3,6,1}
print(s5)
s5.pop()
print(s5)

{1, 3, 4, 5, 6}
{3, 4, 5, 6}

In [15]:
#remove all items in set using setname.clear() method
s5={4,5,3,6,1}
s5.clear()
print(s5)

set()

# 4: Python Set Operations

In [24]:
#union of 2 sets using | operator or using set1.union(set2)
s1={1,2,3,4}
s2={2,4,5,6}
print(s1)
print(s2)
print(s1|s2)

{1, 2, 3, 4}
{2, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
Hello

In [26]:
#intersection of 2 sets using & operator or using set1.intersection(set2)
s1&s2
print(s1.intersection(s2))

{2, 4}

In [28]:
#set Difference: set of elements that are only in set1 but not in set2. Use - operator or set1.difference(set2)
print(s1-s2)
print(s2-s1)

{1, 3}
{5, 6}

In [29]:
"""symmetric difference: set of elements in both set1 and set2 
#except those that are common in both.Use ^ operator or set1.symmetric_difference(set2)""" 
s1^s2

{1, 3, 5, 6}

In [36]:
#find issubset() use set1.issubset(set2)
s3={1,2,3,4,5,6,7}
s4={2,13,4,5,6,7}
s4.issubset(s3)

False

# Python Dictionary

Dictionary is an unordered collection of key-value pairs. In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [37]:
my_dictionary={1:"Python",2:"Math",3:"Case Study"}
print(my_dictionary)
print("type of my_dictionary",type(my_dictionary))

{1: 'Python', 2: 'Math', 3: 'Case Study'}
type of my_dictionary <class 'dict'>

In [40]:
d1={1:10.5,2:20,3:50,4:"Python"}
print(d1)

{1: 10.5, 2: 20, 3: 50, 4: 'Python'}

In [41]:
d2={"a":"Apple","b":"ball"}
print(d2)

{'a': 'Apple', 'b': 'ball'}

In [ ]:
#Dictionary Access

In [50]:
#use key to access the value of dictionary 
print(my_dictionary[2])

Math

In [43]:
#if key is not present it gives KeyError
print(my_dictionary[10])

KeyError: 10

In [48]:
#another way of accessing key is by dictname.get('key').
#if key is not present it will give None using get method
print(my_dictionary.get(3))

Case Study

# Dict Add or Modify  Elements

In [51]:
#update value by using dictname['key']=newvalue
my_dictionary[1]="Python Programming"
print(my_dictionary)

{1: 'Python Programming', 2: 'Math', 3: 'Case Study'}

In [52]:
#add new key
my_dictionary[4]="Domain Expertise"
print(my_dictionary)

{1: 'Python Programming', 2: 'Math', 3: 'Case Study', 4: 'Domain Expertise'}

In [53]:
#delete particular key by del dictname[key]
del my_dictionary[4]
print(my_dictionary)

{1: 'Python Programming', 2: 'Math', 3: 'Case Study'}

# Dict Delete or Remove Element

In [54]:
#remove a particular item by using dictname.pop('key')
my_dictionary.pop(1)
print(my_dictionary)

{2: 'Math', 3: 'Case Study'}

In [55]:
#remove all items by using dictname.clear()
my_dictionary.clear()
print(my_dictionary)

{}

In [56]:
#delete a dictionary using del dictname
del my_dictionary
print(my_dictionary)

NameError: name 'my_dictionary' is not defined

# Python String

In [ ]:
A string is a sequence of characters.

    Computers do not deal with characters, they deal with numbers (binary). Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0's and 1's.

    This conversion of character to a number is called encoding, and the reverse process is decoding. ASCII and Unicode are some of the popular encoding used.

    In Python, string is a sequence of Unicode character.

In [ ]:
# How to create a string?
strings can be created by enclosing characters inside a single quote or double quotes. 

Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings.

In [ ]:
# How to access characters in a string?
We can access individual characters using indexing and a range of characters using slicing.

Index starts from 0. 

Trying to access a character out of index range will raise an IndexError. 

The index must be an integer. We can't use float or other types, this will result into TypeError.

Python allows negative indexing for its sequences.

In [ ]:
If we try to access index out of the range or use decimal number, we will get errors.

In [ ]:
# How to change or delete a string ?
Strings are immutable. This means that elements of a string cannot be changed once it has been assigned. 

We can simply reassign different strings to the same name.

In [59]:
s1="Python"
print(s1[1:5])
s1[1]="z"

ytho

TypeError: 'str' object does not support item assignment

In [60]:
# delete complete string by using del stringname
del s1
print(s1)

NameError: name 's1' is not defined

In [ ]:
# String Operations

In [69]:
# Concatenation
#Joining of two or more strings into a single one is called concatenation.

#The + operator does this in Python. Simply writing two string literals together also concatenates them.
s1="Python"
s2="Programming"
print(s1+"-"+s2)
#The * operator can be used to repeat the string for a given number of times.
s1="Python"
s1*3

Python-Programming

'PythonPythonPython'

In [ ]:
# String Membership Test in and not in

In [75]:
s1= "Python Programming"
if "Python" in s1:
    print("Present")
else:
    print("Absent")

Absent

# String Methods

In [ ]:
Some of the commonly used methods are lower(), upper(),  split(), find(), replace() etc

In [76]:
s1="Python"
s1.lower()

'python'

In [77]:
s1.upper()

'PYTHON'

In [78]:
s2="This is Python Class"
s2.split()

['This', 'is', 'Python', 'Class']

In [79]:
s3="This,is, Python, Class"
s3.split(',')

['This', 'is', ' Python', ' Class']

In [85]:
s4="Python"
s4.find("hon")

3

In [88]:
s4="Python Course"
s5=s4.replace("Python","Math")
print(s4)
print(s5)

Python Course
Math Course

# Python Input and Output

In [ ]:
We use the print() function to output data to the standard output device

In [ ]:
# Output Formatting

In [ ]:
 #multiple statements in single line.

In [ ]:
#multiple statements in single line

#specify position of arguments

In [ ]:
#we can use keyword arguments to format the string

In [ ]:
#we can combine positional arguments with keyword arguments

# Python Input

In [89]:
num=input("Enter a number")
print("Entered number is",num)

Enter a number5
Entered number is 5